* {
  margin: 0;
  padding: 0;
  color: #cccccc;
  font-family: "Source Code Pro", monospace;
  font-size: 1vw;
}

body {
  background-color: #0c0c0c;
}

#input-line {
  display: flex;
}

#command {
  margin-right: 1vw;
  width: 100%;
  background-color: transparent;
  border: none;
}

#command:focus {
  outline: none;
}
